
$white: #ffffff;
$black: #0f0f0f;
$light-gray: #b2c0cb;
$light-sea-blue: #09cac7;
$light-sky-blue: #6da3c7;
$middle-sky-blue: rgb(18, 118, 158);
$dark-sky-blue:#025377;
$dark-green: #02686f;
$middle-sky-blue: rgb(18, 118, 158);


$main-background-color: $black;
