@import './main.scss';

body {
    background-color: $main-background-color;
    color: $light-gray;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.mainWrapper {
    @extend %flexbox;
    width: 100%;
    padding: 20px;
}