@import './main.scss';

.container {
    @extend %flexbox;
    max-width: 300px;
    margin: 0 auto;
    min-height: 0;
    min-width: 0;
    img {
        display: flex;
        max-width: 100%;
        min-height: 0;
        min-width: 0;
    }
}

:global {
    .slick-dots {
        bottom: 0;
        background-color: $white;
    }
    .slick-dots li button:before {
        color: $black;
        font-size: 14px;
    }
    .slick-dots li.slick-active button:before {
        color: $light-sea-blue;
    }
}

 