@import './main.scss';

  .navContainer {
     position: fixed;
     top: 0;
     z-index: 10;
     @extend %flexbox;
     @include flex-direction(row);
     @include  justify-content(center);
     width: 100%;
     color: $white;
     background-color: $dark-gray;
     border-bottom: 1px solid rgba(255,255,255,.1);
  }

  .navItem {
    @include flex(1);
    padding: 5px;
    text-align: center;
    color:$white;
    font-weight: bold;
    border-top: 3px solid $white;
    margin: 2px;
    transition: all .3s ease;
    &:hover, &:focus {
        border-top-color:$light-sea-blue;
        color: $light-sea-blue;
        text-decoration: none;
    }
  }
:global {
    .active {
        border-top-color: $light-sea-blue;
        color: $light-sea-blue;
    }
}
  