
$white: #ffffff;
$black: #0f0f0f;
$dark-gray: #131212;
$light-gray: #b2c0cb;
$light-sea-blue: #09cac7;
$light-sky-blue: #6da3c7;
$middle-sky-blue: rgb(18, 118, 158);
$dark-sky-blue:#025377;
$dark-green: #02686f;
$middle-sky-blue: rgb(18, 118, 158);
$red: #FF0000;

$error: $red;
$h2-color: $light-sea-blue;
$main-background-color: $black;
$main-text-color: $light-gray;
$main-link-color: $light-sea-blue;
$main-header-background-color: $light-sea-blue;
$secondary-header-background-color: $light-sky-blue;
$header-color: $dark-sky-blue;

$main-nav-background: $dark-gray;
$main-nav-border-top: $light-gray;
$main-nav-active-state: $dark-sky-blue;