@import './main.scss';

body {
    background-color: $main-background-color;
    color: $main-text-color;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.mainWrapper {
    @extend %flexbox;
    @include flex-direction(column);
    @include  justify-content(center);
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
}

.sliderContainer {
    margin: 1%;
    width: 98%;
}