@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600');
@import './colors.scss';

/* Flexbox mixins / layout */

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

%flexbox { @include flexbox; }

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
       -moz-box-flex: $values;
        -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin flex-basis($width) {
-webkit-flex-basis: $width;
    -moz-flex-basis: $width;
    -ms-flex-basis: $width;
        flex-basis: $width;
}

@mixin flex-grow($grow) {
    -webkit-flex-grow: $grow;
       -moz-flex-grow: $grow;
        -ms-flex-grow: $grow;
            flex-grow: $grow;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
       -moz-box-ordinal-group: $val;     
             -ms-flex-order: $val;     
              -webkit-order: $val;  
                  order: $val;
}

@mixin justify-content($justify) {
-webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
        justify-content: $justify;
            -ms-flex-pack: $justify;
}

@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
       -moz-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
}

@mixin align-content($align) {
-webkit-align-content: $align;
    -moz-align-content: $align;
    -ms-align-content: $align;
        align-content: $align;
}

@mixin align-items($align) {
-webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
        align-items: $align;
}

@mixin align-self($align) {
-webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
        align-self: $align;
}

/* breakpoints */

$laptop: 'max-width: 1260px';
$tablet: 'max-width: 960px';
$mobile: 'max-width: 480px';

/* gradients and shadows */

%box-shadow-black {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

%box-shadow-black-green {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(105,255,235,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(105,255,235,0.3);
    box-shadow: 0px 0px 30px 0px rgba(105,255,235,0.3);
}

%box-shadow-black-main-menu {
    -webkit-box-shadow: 0 0 150px 20px rgba(0, 200, 250, 0.16);
    -moz-box-shadow: 0 0 150px 20px rgba(0, 200, 250, 0.16);
    box-shadow: 0 0 150px 20px rgba(0, 200, 250, 0.16);
}

%linear-gradient-background {
    background: rgba(15,15,15,1);
    background: -moz-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(15,15,15,1)), color-stop(39%, rgba(2,84,119,0.72)), color-stop(63%, rgba(2,84,119,0.8)), color-stop(100%, rgba(15,15,15,1)));
    background: -webkit-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
    background: -o-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
    background: -ms-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
    background: linear-gradient(to right, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0f0f0f', GradientType=1 );
}

/* animations */

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }