@import './main.scss';

  .navContainer {
     position: fixed;
     top: 0;
     z-index: 10;
     @extend %flexbox;
     @include flex-direction(row);
     @include  justify-content(center);
     width: 100%;
     color: $main-text-color;
     background-color: $main-nav-background;
     border-bottom: 1px solid $light-sea-blue;
  }

  .navItem {
    @include flex(1);
    padding: 5px;
    text-align: center;
    color: $main-text-color;
    font-weight: bold;
    border-top: 3px solid $main-text-color;
    margin: 2px;
    transition: all .3s ease;
    &:hover, &:focus {
        border-top-color: $main-link-color;
        color: $main-link-color;
        text-decoration: none;
    }
  }
:global {
    .active {
        border-top-color: $main-link-color;
        color: $main-link-color;
    }
}
  