@import './main.scss';
@import './colors.scss';

  .navContainer {
     position: fixed;
     top: 0;
     z-index: 10;
     @extend %flexbox;
     @include flex-direction(row);
     @include  justify-content(center);
     width: 100%;
     color: $main-text-color;
  }

  .navItem {
    @include flex(1);
    @extend %box-shadow-main-menu;
    border-top: 1px solid $main-nav-border-top;
    padding: 5px;
    text-align: center;
    color: $main-text-color;
    font-weight: bold;
    transition : background .5s ease;

    &:hover, &:focus {
        text-decoration: none;
        color: $white;
        background-color: $main-nav-active-state;
    }
  }
:global {
    .active {
        background-color: $main-nav-active-state;
    }
}
  