@import './main.scss';

  .navContainer {
     position: fixed;
     top: 0;
     z-index: 10;
     @extend %flexbox;
     @include flex-direction(row);
     @include  justify-content(center);
     @extend %box-shadow-black-main-menu;
     border-bottom: 1px solid $main-nav-border;
     width: 100%;
     color: $main-text-color;
  }

  .navItem {
    @include flex(1);
    border-top: 1px solid $main-nav-border;
    padding: 5px;
    text-align: center;
    color: $main-text-color;
    font-weight: bold;
    transition: all .5s ease-in;

    &:hover, &:focus {
        text-decoration: none;
        color: $white;
        @extend %linear-gradient-background;
        color: $main-link-color;
        animation: fadeIn .5s;
    }
  }

  .linkText {
    padding: 5px;
  }

:global {
    .active {
        color: $main-link-color;
        background: rgba(15,15,15,1);
        background: -moz-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(15,15,15,1)), color-stop(39%, rgba(2,84,119,0.72)), color-stop(63%, rgba(2,84,119,0.8)), color-stop(100%, rgba(15,15,15,1)));
        background: -webkit-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
        background: -o-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
        background: -ms-linear-gradient(left, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
        background: linear-gradient(to right, rgba(15,15,15,1) 0%, rgba(2,84,119,0.72) 39%, rgba(2,84,119,0.8) 63%, rgba(15,15,15,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#0f0f0f', GradientType=1 );

        &:hover {
            animation: none;
        }
    }
}

@media ($mobile) {
    .linkText {
        display: none;
    }
  }
  